<%= form_for @tenant do |f| %>

	<% if @tenant.errors.any? %>
		<div class="error_explanation">
			<h2>
					<%= pluralize(@tenant.errors.count, 'error') %> prohibited 
					this tenant from beign saved:
			</h2>
			<ul>
				<% @tenant.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</p>

	<p>
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</p>

	<p>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>