<h1>Tenants</h1>

<%= link_to 'New', new_tenant_path %>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @tenants.each do |tenant| %>
		<tr>
			<td><%= tenant.firstname%></td>
			<td><%= tenant.phone %></td>
			<td><%= tenant.email %></td>
			<td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
			<td><%= link_to 'Destroy',	tenant_path(tenant),	
																	method: :delete,
																	data: { confirm: 'Are you sure?' } %>
														
			</td>
		</tr>
		<% end %>
	</tbody>
</table>