<h1> Show Tenant </h1>

<p>
	<strong>Name:</strong>
	<%= @tenant.firstname + ' ' + @tenant.lastname %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @tenant.phone %>
</p>

<p>
	<strong>Email:</strong>
	<%= @tenant.email %>
</p>



<%= link_to 'Edit', edit_tenant_path(@tenant) %>
|
<%= link_to 'Back', tenants_path %>