<h1> Show Accommodation </h1>

<p>
	<strong>Picture:</strong>
	<%= image_tag @accommodation.picture.url if @accommodation.picture? %>
</p>

<p>
	<strong>Type:</strong>
	<%= @accommodation.accommodation_type.name %>
</p>

<p>
	<strong>Price:</strong>
	<%= @accommodation.price %>
</p>

<p>
	<strong>Description:</strong>
	<%= @accommodation.description %>
</p>

<p>
	<strong>Owner:</strong>
	<%= @accommodation.user.first_name %>
	<%= @accommodation.user.last_name %>
	<%= @accommodation.user.email %>
	<%= @accommodation.user.phone_number %>
</p>



<%= link_to 'Edit', edit_accommodation_path(@accommodation) %>
|
<%= link_to 'Back', accommodations_path %>