<h1> Show Accommodation </h1>

<p>
	<strong>Picture:</strong>
	<%= image_tag @accommodation.picture.url if @accommodation.picture? %>
</p>

<p>
	<strong>Type:</strong>
	<%= @accommodation.accommodation_type.name %>
</p>

<p>
	<strong>Price:</strong>
	<%= @accommodation.price %>
</p>

<p>
	<strong>Description:</strong>
	<%= @accommodation.description %>
</p>

<p>
	<strong>Owner:</strong>
	<%= @accommodation.landlord.firstname %>
	<%= @accommodation.landlord.lastname %>
	<%= @accommodation.landlord.phone %>
</p>

<%= link_to "Back", showcase_path(@accommodation) %>
