<h1>Landlords</h1>

<%= link_to 'New', new_landlord_path %>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @landlords.each do |landlord| %>
		<tr>
			<td><%= landlord.firstname%></td>
			<td><%= landlord.phone %></td>
			<td><%= landlord.email %></td>
			<td><%= link_to 'Show',	landlord_path(landlord) %>
														
			</td>
			<td><%= link_to 'Edit', edit_landlord_path(landlord) %></td>
			<td><%= link_to 'Destroy',	landlord_path(landlord),	
																	method: :delete,
																	data: { confirm: 'Are you sure?' } %>
														
			</td>

		</tr>
		<% end %>
	</tbody>
</table>